.horizontal-list {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    margin-bottom: 30px;
}

.list {
    display: flex;
    gap: 20px;
    white-space: nowrap;
    overflow: auto;
}