.vertical-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 12px;
    padding: 0 4px;
}

@media screen and (min-width: 768px) {
    .vertical-list {
        grid-template-columns: repeat(4, 1fr);
        padding: 0 12px;
    }
}

@media screen and (min-width: 1024px) {
    .vertical-list {
        grid-template-columns: repeat(5, 1fr);
        padding: 0 12px;
    }
}

@media screen and (min-width: 1440px) {
    .vertical-list {
        grid-template-columns: repeat(7, 1fr);
        padding: 0 12px;
    }
}

@media screen and (min-width: 1920px) {
    .vertical-list {
        grid-template-columns: repeat(10, 1fr);
        padding: 0 12px;
    }
}